div#ConText {

    text-align: center;
    font-family: "Segoe UI", serif;
}

div#ConText h1 {

    font-size: 50px;
    color: rgb(38, 71, 160);
}

div#ConText p {
    font-size: 30px;
    color: rgb(169, 169, 169);
    line-height: 2.3;
}

div#ConText p strong, div#ConText p a {
    font-size: 50px;
    font-family: "Freestyle Script", serif;
    color: rgb(220, 20, 60);
    text-decoration: none;
}