div#ConText {
    text-align: center;
    font-family: "Segoe UI", serif;
}

div#ConText h1 {
    font-size: 30px;
    color: rgb(38, 71, 160);
}

div#ConText p {
    font-size: 20px;
    color: #bd362f;
    line-height: 2.3;
}

div#ConText p strong, div#ConText p a {
    font-size: 30px;
    font-family: FontFree;
    color: #0088cc;
    text-decoration: none;
}