
html {
    background-color: navajowhite;
}
body {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-width: 800px;
    min-height: 600px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#LOGO a, a:active,a:visited  {
    position: absolute;
    left: 20px;
    top: 1px;
    width: 500px;
    height: 70px;
    font-style: normal;
    display: block;
    font-family: fantasy;
    font-size: 45px;
    color: blanchedalmond;
    text-decoration: none;
}

div#NavBar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80px;
    text-align: left;
    background: url("../images/nav1.jpg") repeat-x;
    border-radius: 0px 0px 40px 40px;
    -moz-border-radius: 0px 0px 40px 40px;
    -webkit-border-radius: 0px 0px 40px 40px;
    -webkit-box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.75);
}
div{
    display: block;
}
#menus{
    width: 1000px;
    float: right;
    top: 10px;
}

 .menuitems{
     float: left;
     margin-left: 35px;
 }

 .menuitems a{
     width:90px;
     height:30px;
     left: 250px;
     line-height:50px;
     font-family: fantasy;
     color: bisque;
     margin:5px 10px;
     font-style: normal;
     font-size: 25px;
     display:block;
     text-align: center;
     text-decoration:none;
}
 .menuitems
 a:link    {color:khaki;}
 a:visited {color:khaki;}
 a:hover   {color:darksalmon;}
 a:active  {color:yellow;}



div#ConText {
    background: rgba(234,205,158,1);
    background: -moz-linear-gradient(left, rgba(234,205,158,1) 0%, rgba(234,205,158,1) 2%, rgba(184,145,81,1) 8%, rgba(234,205,158,1) 32%, rgba(234,205,158,1) 65%, rgba(163,126,67,1) 92%, rgba(223,193,144,1) 100%);
    background: -webkit-gradient(linear,left top, right top, color-stop(0%, rgba(234,205,158,1)), color-stop(2%, rgba(234,205,158,1)), color-stop(8%, rgba(184,145,81,1)), color-stop(32%, rgba(234,205,158,1)), color-stop(65%, rgba(234,205,158,1)), color-stop(92%, rgba(163,126,67,1)), color-stop(100%, rgba(223,193,144,1)));
    background: -webkit-linear-gradient(left, rgba(234,205,158,1) 0%, rgba(234,205,158,1) 2%, rgba(184,145,81,1) 8%, rgba(234,205,158,1) 32%, rgba(234,205,158,1) 65%, rgba(163,126,67,1) 92%, rgba(223,193,144,1) 100%);
    background: -o-linear-gradient(left, rgba(234,205,158,1) 0%, rgba(234,205,158,1) 2%, rgba(184,145,81,1) 8%, rgba(234,205,158,1) 32%, rgba(234,205,158,1) 65%, rgba(163,126,67,1) 92%, rgba(223,193,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(234,205,158,1) 0%, rgba(234,205,158,1) 2%, rgba(184,145,81,1) 8%, rgba(234,205,158,1) 32%, rgba(234,205,158,1) 65%, rgba(163,126,67,1) 92%, rgba(223,193,144,1) 100%);
    background: linear-gradient(to right, rgba(234,205,158,1) 0%, rgba(234,205,158,1) 2%, rgba(184,145,81,1) 8%, rgba(234,205,158,1) 32%, rgba(234,205,158,1) 65%, rgba(163,126,67,1) 92%, rgba(223,193,144,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eacd9e', endColorstr='#dfc190', GradientType=1 );
    position: absolute;
    left: 5%;
    width: 90%;
    top: 60px;
    bottom: 60px;
    height: auto;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
    transition: background;
}
#Welcome{
    text-align: center;
    width: 1000px;
    padding: 40px 500px 500px 40px ;
    font-size: xx-large;
    font-family: fantasy;
}
#Play{
    position: absolute;
    left: 500px;
    top: 400px;
    width: 500px;
    height: 70px;
    font-style: normal;
    display: block;
    font-family: fantasy;
    font-size: xx-large;
    font-color: dodgerblue;
    text-decoration: none;
}

.main{
    position: absolute;
    margin-left: 130px;
    margin-right: 150px;
    margin-top: 60px;
    margin-bottom: 30px;
    height: 400px;
    width: 950px;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 3px solid #f71845;
    background-color: #fff98c;
}
.blank1{
    position: absolute;
    margin-left: 20px;
    margin-right: 450px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 350px;
    width:450px;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 3px none;
    background-color: #fff98c;
}
.blank2{
    position: absolute;
    margin-left: 485px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 350px;
    width:435px;
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 3px solid #f71845;
    background-color: #fff98c;
}
h1{
    font-size: 30px;

}



div#Address {
    width: 100%;
    position: absolute;
    left: 500px;
    height: 60px;
    bottom: 0px;
}

