body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0; padding: 0;
}
@font-face {
    font-family: FontFree;
    src: url("FREESCPT.TTF");
}

@font-face {
    font-family: FontAdd;
    src: url("segoeuil.ttf");
}

body {
    overflow: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 800px;
    min-height: 600px;
    margin-bottom: 0;
    margin-top: 0;
    background:url("../images/noise.jpg");

}

#logo{
    position: absolute;
    float: left;
    height:150px;
    width: 200px;
    left: 100px;
    top: 25px;
}

ul#nav {
    position: absolute;
    left: 25%;
    width: 700px; margin: 0 auto; text-align: center; overflow: hidden;
    background: url("../images/nav.jpg") no-repeat center;
    -webkit-box-shadow: 1px 10px 25px 1px rgba(0, 0,0,0.35);
    -moz-box-shadow: 1px 10px 25px 1px rgba(0, 0, 0,0.35);
    box-shadow: 1px 10px 25px 1px rgba(0, 0, 0, 0.35);
}
ul#nav li {
    float: left; list-style: none;
}
ul#nav li a {
    display: block; width: 97px; height: 77px;
    padding: 72px 0 0 0; margin: 0 32px 0 32px;
    font: bold 16px Helvetica, Arial, Sans-Serif; text-transform: uppercase;
    color: #9c5959; text-shadow: 0 1px 3px #c4bda6; text-decoration: none;
    background: url(../images/label.png) 0 -149px no-repeat;
}
ul#nav li a:hover {
    background: url(../images/label.png) 0 0 no-repeat;
    color: #eee9d9; text-shadow: 0 2px 3px #4c2222;
}
ul#nav li a.js:hover {
    background: url(../images/label.png) 0 -149px no-repeat;
}

div#ConText {
    transition: background;
    position: absolute;
    left: 15%;
    width: 70%;
    top: 150px;
    bottom: 40px;
    background: url("../images/bg3.jpg") center top no-repeat   ;
    -webkit-box-shadow: 1px 10px 25px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 10px 25px 1px rgba(0, 0, 0, 1);
    box-shadow: 1px 10px 25px 1px rgba(0, 0, 0, 1);

}
div#Address {
    width: 100%;
    position: absolute;
    text-align: center;
    height: 30px;
    bottom: 1px;
    display: block;
    text-decoration: none;
    vertical-align: bottom;
    color: rgb(0, 0, 0);
    font-family: FontAdd;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}